@import "@/variables.scss";
$p: $elements_padding;

.header_container {
  width: 100%;
  padding: $p $p 0 $p;
  height: $header_height;
}

.header {
  width: 100%;
  height: 100%;
  border-radius: $elements_radius;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $elements_bgcolor;
  border: 1px solid black;
  box-shadow: $elements_boxshadow;
}
