.message {
  width: 100%;
  height: fit-content;
  border-radius: 20px;
  border: 1px dotted black;
  display: flex;
  justify-content: start;
  // border-bottom: 1px dotted black;
  padding: 6px;
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.my {
  // background-color: red;
  justify-content: end;
}
