$header_height: 60px;

$elements_padding: 6px;
$elements_radius: 10px;
$elements_boxshadow: 0 0 4px -1px rgb(0, 0, 0);
$elements_bgcolor: rgba(36, 141, 2, 0.444);

$chats_width: 250px;

$chatsheader_height: 80px;

$chatheader_height: 50px;
$chatfooter_height: 50px;
